.App {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  text-align: center;
  .PageName {
    padding: 0 0 0.5em 0;
  }
  .UserPass {
    display: flex;
    justify-content: center;
    div {
      padding: 0 0.5em 0 0.5em;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    input {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1em;
      margin: 0.5em 0 0.5em 0;
      padding-left: 0.25em;
    }
    button {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1em;
      margin: 0.5em 0 0.5em 0;
      background-color: #9c9c9c;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    button:disabled,
    button[disabled]{
      background-color: #f1f1f1;
      color: #9c9c9c;
    }
  }
  .SignUpLink {
    margin: 0.5em 0 0 0;
  }
  .UserList {
    ul {
      padding: 0;
      list-style-type: none;
    }
  }
}
.NavBar {
  font-size: 1em;
  padding: 1em 0 1em 0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-around;
}